#root {
  margin: 0 auto;
}

.tracker-container {
    max-width: 1280px;
    margin: 0 auto;
}

.swiper-button-prev, .swiper-button-next {
  color: gray!important;
}

:root {
  --swiper-navigation-size: 15px !important;
}

body {
  margin: 0 auto;
  line-height: inherit;
}

input, select {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));

  line-height: 1.25;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  padding-left: 0.75rem;
  padding-right: 0.75rem;

  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));

  border-width: 1px;

  border-radius: 0.25rem;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;

  margin-bottom: 0.75rem;

  text-transform: none;

  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}

.vh-70 {
  min-height: 70vh;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(103, 165, 103);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 